<settings>
  <servers>
    <server>
      <id>gitlab-maven</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>Private-Token</name>
            <value>fd8dba8a-5c3c-3505-a591-998e8451b533</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
  </servers>
</settings>